/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require bootstrap.min
*= require customer
*= require bar
*= require login
*= require footer
*= require header
*= require leftnav
*= require orders
*= require addCreditCard
*= require startPage
*/

.menu-item-image {
    width: 75%;
    height: 75%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.main-img {
    height: 25%;
    width: 25%;
}

.menu-item-detail-image {
    width: 100%;
    height: 75%;
}

@media (min-width: 768px) {
    .mobile-footer {
        display: none !important;
    }
}