.title {
    background-color: #5cb85c;
    color: white;
}

.header {
    background-color: #5cb85c;
    padding-bottom: 8px;
}

.user-name {
    color: white;
    text-align: left;
}

.logout {
    color: white;
    text-align: right;
    padding-top: 5px;
}

.logout:hover {
    background-color: orange;
}

.brand {
    height: 30px;
    width: 30px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}