.title {
    background-color: #7de07d;
    color: white;
}

.header {
    background-color: #7de07d;
    padding-bottom: 8px;
    border-bottom: medium solid orange;
}

.user-name {
    color: white;
    text-align: left;
}

.brand {
    height: 30px;
    width: 30px;
}
.center-block {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.main-body {
    height: 100%;
}